
<div id="dateWash"></div>

<script src='@Url.Content("~/Views/DateWash/_PartialDateShow.js")'></script>
<script>
    ///<reference path='/js.html'/>
    var year =@ViewBag.year;
    var month =@ViewBag.month;
    var day =@ViewBag.day;
    var listJson='@Html.Raw(@ViewBag.listJson)';
    var list=JSON.parse(listJson);
    var dateWash=$("#dateWash").dateWash({year:year,month:month,day:day,data:list});
</script>


<style>
    /*#dateWash {
        background-color:rgb(83,84,84);
        display:inline-block;
    }*/

    /*.dateWash-day {
        display:inline-block;
        box-sizing:border-box;
        border:3px solid rgb(83,84,84);
        margin:2px;
        width:60px;
        height:60px;
        font-family:'Microsoft YaHei';
        text-align:center;
        color:rgb(253,253,253);
        vertical-align:top;
        cursor:default;
    }

    .dateWash-day:hover {
        border:3px solid rgb(153,153,153);
    }

    .dateWash-row.dateWash-head .dateWash-day{
        line-height:54px;
        color:rgb(236,236,236);
    }
    .dateWash-row.dateWash-head  .dateWash-day:hover {
        border:3px solid rgb(83,84,84);
    }
    .dateWash-row .dateWash-day.preMonth,.dateWash-row .dateWash-day.nextMonth {
        color:rgb(140,140,140);
    }
    .dateWash-row .dateWash-day .date-day {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .dateWash-row .dateWash-day .dateWashName {
        display:block;
        font-size:13px;
    }

    .dateWash-row .dateWash-day.curDay{
        background-color:rgb(0,120,215);
    }

    .dateWash-row .dateWash-day.curDay .date-day {
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .dateWash-row .dateWash-day.curDay .dateWashName {
        display:block;
        font-size:13px;
    }*/
</style>