
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <script src="/Scripts/jquery-1.10.2.js"></script>
</head>
<body>
    @Html.Action("CalendarShow",new { year=ViewBag.year,month=ViewBag.month,day=ViewBag.day})
    
</body>
</html>
