@{
    ViewBag.Title = "联系我";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    联系方式<br />
    <abbr title="QQ">QQ:</abbr>
    695166116
    <br />
    <abbr title="Phone">P:</abbr>
    18768122418
</address>

<address>
    <strong>建议和合作:</strong>   <a href="mailto:polei561@gmail.com">polei561@gmail.com</a><br />
</address>