
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />

    <title>test</title>
</head>
<body>
    <div class="container"> 
        <button class="btn btn-primary"></button>
    </div>
</body>
</html>
